.logo{
    font-size:30px;
    height: 40px;
    line-height: 40px;
    color: white;
}
.post-titile{
    color: white;
}
.post-content{
    font-weight: 400;
    font-size: 15px;
    line-height: 2em;
    color: white;
}
article{
    padding-top: 30px;
}
#n2{
    display: none;
}
.team{
    clear: both;
    text-align: center;
    color: white;
    padding-top: 50px;
    margin-bottom: 10px;
}