.logo{
    font-size:30px;
    height: 40px;
    line-height: 40px;
}
.post-content{
    font-weight: 400;
    font-size: 15px;
    line-height: 2em;
}
article{
    padding-top: 30px;
}
#n2{
    display: none;
}